
.idea/discord.xml
.idea/misc.xml
.idea/modules.xml
.idea/ohsu.iml
.idea/vcs.xml
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-03d26145e1f500cf265d.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-76987cebd376482e625a.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-c6ca1a1e6f6cf638e40f.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/index-2023-11-21T07-45-28-0285.json
cmake-build-debug/.cmake/api/v1/reply/target-ohsu-Debug-589a81b76d8510833352.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-5648df73a410940e0ae1.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/ohsu.dir/DirLookup.cpp.obj
cmake-build-debug/CMakeFiles/ohsu.dir/main.cpp.obj
cmake-build-debug/CMakeFiles/ohsu.dir/Program/main.cpp.obj
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/ohsu.exe
cmake-build-debug/Testing/Temporary/LastTest.log
CMakeLists.txt
CMakeLists.txt
CMakeLists.txt
cmake-build-debug/.cmake/api/v1/reply/index-2023-11-23T01-47-00-0780.json
.clang-tidy
.idea/editor.xml
.idea/runConfigurations/ohsu.xml
cmake-build-debug-event-trace/.cmake/api/v1/query/cache-v2
cmake-build-debug-event-trace/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug-event-trace/.cmake/api/v1/query/codemodel-v2
cmake-build-debug-event-trace/.cmake/api/v1/query/toolchains-v1
cmake-build-debug-event-trace/.cmake/api/v1/reply/cache-v2-58b31603d198523b1dae.json
cmake-build-debug-event-trace/.cmake/api/v1/reply/cmakeFiles-v1-9cb253651812c5ff031c.json
cmake-build-debug-event-trace/.cmake/api/v1/reply/codemodel-v2-6c17f84d4dcc2c5e4b1d.json
cmake-build-debug-event-trace/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug-event-trace/.cmake/api/v1/reply/index-2024-01-01T04-39-28-0121.json
cmake-build-debug-event-trace/.cmake/api/v1/reply/target-ohsu-Debug-589a81b76d8510833352.json
cmake-build-debug-event-trace/.cmake/api/v1/reply/toolchains-v1-875db17dc2e4006d9c14.json
cmake-build-debug-event-trace/.ninja_deps
cmake-build-debug-event-trace/.ninja_log
cmake-build-debug-event-trace/build.ninja
cmake-build-debug-event-trace/cmake_install.cmake
cmake-build-debug-event-trace/CMakeCache.txt
cmake-build-debug-event-trace/CMakeFiles/3.27.8/CMakeCCompiler.cmake
cmake-build-debug-event-trace/CMakeFiles/3.27.8/CMakeCXXCompiler.cmake
cmake-build-debug-event-trace/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
cmake-build-debug-event-trace/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug-event-trace/CMakeFiles/3.27.8/CMakeRCCompiler.cmake
cmake-build-debug-event-trace/CMakeFiles/3.27.8/CMakeSystem.cmake
cmake-build-debug-event-trace/CMakeFiles/3.27.8/CompilerIdC/a.exe
cmake-build-debug-event-trace/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug-event-trace/CMakeFiles/3.27.8/CompilerIdCXX/a.exe
cmake-build-debug-event-trace/CMakeFiles/3.27.8/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug-event-trace/CMakeFiles/clion-Debug-event-trace-log.txt
cmake-build-debug-event-trace/CMakeFiles/clion-environment.txt
cmake-build-debug-event-trace/CMakeFiles/clion-event-trace.json
cmake-build-debug-event-trace/CMakeFiles/cmake.check_cache
cmake-build-debug-event-trace/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug-event-trace/CMakeFiles/ohsu.dir/Program/main.cpp.obj
cmake-build-debug-event-trace/CMakeFiles/rules.ninja
cmake-build-debug-event-trace/CMakeFiles/TargetDirectories.txt
cmake-build-debug-event-trace/ohsu.exe
cmake-build-debug/.cmake/api/v1/reply/cache-v2-0e58f1293ad4e639f9a1.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-aedc1660f7016b78d819.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-5319bdf0aa21dbe0185e.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-01-01T04-39-28-0104.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-875db17dc2e4006d9c14.json
cmake-build-debug/CMakeFiles/3.27.8/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.27.8/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.27.8/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.27.8/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.27.8/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/3.27.8/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug-event-trace/.cmake/api/v1/reply/cache-v2-946af586b2ddafd9acc1.json
cmake-build-debug-event-trace/.cmake/api/v1/reply/cmakeFiles-v1-8f0e28e316c5b6f708df.json
cmake-build-debug-event-trace/.cmake/api/v1/reply/codemodel-v2-9e60a6d563fe0dd4fc1a.json
cmake-build-debug-event-trace/.cmake/api/v1/reply/index-2024-01-03T06-30-31-0876.json
cmake-build-debug-event-trace/.cmake/api/v1/reply/target-ohsu-Debug-63446b5f921dc181c019.json
cmake-build-debug-event-trace/.qt/QtDeploySupport.cmake
cmake-build-debug-event-trace/Testing/Temporary/LastTest.log
cmake-build-debug/.cmake/api/v1/reply/cache-v2-a75a43a824320af10d91.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-17dcc64615ba12b811df.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-22785063c0242a644285.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-01-03T06-30-31-0861.json
cmake-build-debug/.cmake/api/v1/reply/target-ohsu-Debug-4d30e78275a77d5cb01d.json
cmake-build-debug/.qt/QtDeploySupport.cmake
cmake-build-debug/CMakeFiles/ohsu.dir/Program/gui.cpp.obj
cmake-build-release-mingw/.cmake/api/v1/query/cache-v2
cmake-build-release-mingw/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-release-mingw/.cmake/api/v1/query/codemodel-v2
cmake-build-release-mingw/.cmake/api/v1/query/toolchains-v1
cmake-build-release-mingw/.cmake/api/v1/reply/cache-v2-a1958a6686f40f04192b.json
cmake-build-release-mingw/.cmake/api/v1/reply/cmakeFiles-v1-1c1d0dff6eb883763bde.json
cmake-build-release-mingw/.cmake/api/v1/reply/codemodel-v2-935e687725e6da20743d.json
cmake-build-release-mingw/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
cmake-build-release-mingw/.cmake/api/v1/reply/index-2024-01-03T06-30-31-0861.json
cmake-build-release-mingw/.cmake/api/v1/reply/target-ohsu-Release-99d40a605d00538f35b6.json
cmake-build-release-mingw/.cmake/api/v1/reply/toolchains-v1-875db17dc2e4006d9c14.json
cmake-build-release-mingw/.qt/QtDeploySupport.cmake
cmake-build-release-mingw/cmake_install.cmake
cmake-build-release-mingw/CMakeCache.txt
cmake-build-release-mingw/CMakeFiles/3.27.8/CMakeCCompiler.cmake
cmake-build-release-mingw/CMakeFiles/3.27.8/CMakeCXXCompiler.cmake
cmake-build-release-mingw/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
cmake-build-release-mingw/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_CXX.bin
cmake-build-release-mingw/CMakeFiles/3.27.8/CMakeRCCompiler.cmake
cmake-build-release-mingw/CMakeFiles/3.27.8/CMakeSystem.cmake
cmake-build-release-mingw/CMakeFiles/3.27.8/CompilerIdC/a.exe
cmake-build-release-mingw/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.c
cmake-build-release-mingw/CMakeFiles/3.27.8/CompilerIdCXX/a.exe
cmake-build-release-mingw/CMakeFiles/3.27.8/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-release-mingw/CMakeFiles/clion-environment.txt
cmake-build-release-mingw/CMakeFiles/clion-Release-MinGW-log.txt
cmake-build-release-mingw/CMakeFiles/cmake.check_cache
cmake-build-release-mingw/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-release-mingw/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-release-mingw/CMakeFiles/Makefile.cmake
cmake-build-release-mingw/CMakeFiles/Makefile2
cmake-build-release-mingw/CMakeFiles/ohsu.dir/build.make
cmake-build-release-mingw/CMakeFiles/ohsu.dir/cmake_clean.cmake
cmake-build-release-mingw/CMakeFiles/ohsu.dir/compiler_depend.make
cmake-build-release-mingw/CMakeFiles/ohsu.dir/compiler_depend.ts
cmake-build-release-mingw/CMakeFiles/ohsu.dir/depend.make
cmake-build-release-mingw/CMakeFiles/ohsu.dir/DependInfo.cmake
cmake-build-release-mingw/CMakeFiles/ohsu.dir/flags.make
cmake-build-release-mingw/CMakeFiles/ohsu.dir/includes_CXX.rsp
cmake-build-release-mingw/CMakeFiles/ohsu.dir/link.txt
cmake-build-release-mingw/CMakeFiles/ohsu.dir/linkLibs.rsp
cmake-build-release-mingw/CMakeFiles/ohsu.dir/objects.a
cmake-build-release-mingw/CMakeFiles/ohsu.dir/objects1.rsp
cmake-build-release-mingw/CMakeFiles/ohsu.dir/Program/gui.cpp.obj
cmake-build-release-mingw/CMakeFiles/ohsu.dir/Program/gui.cpp.obj.d
cmake-build-release-mingw/CMakeFiles/ohsu.dir/Program/main.cpp.obj
cmake-build-release-mingw/CMakeFiles/ohsu.dir/Program/main.cpp.obj.d
cmake-build-release-mingw/CMakeFiles/ohsu.dir/progress.make
cmake-build-release-mingw/CMakeFiles/progress.marks
cmake-build-release-mingw/CMakeFiles/TargetDirectories.txt
cmake-build-release-mingw/Makefile
cmake-build-release-mingw/ohsu.exe
cmake-build-release-mingw/Testing/Temporary/LastTest.log
Program/DirLookup.h
Program/gui.cpp
Program/libs/d3dcompiler_47.dll
Program/libs/libgcc_s_seh-1.dll
Program/libs/libstdc++-6.dll
Program/libs/libwinpthread-1.dll
Program/libs/opengl32sw.dll
Program/libs/Qt6Concurrent.dll
Program/libs/Qt6Core.dll
Program/libs/Qt6DBus.dll
Program/libs/Qt6Designer.dll
Program/libs/Qt6DesignerComponents.dll
Program/libs/Qt6Gui.dll
Program/libs/Qt6Help.dll
Program/libs/Qt6LabsAnimation.dll
Program/libs/Qt6LabsFolderListModel.dll
Program/libs/Qt6LabsQmlModels.dll
Program/libs/Qt6LabsSettings.dll
Program/libs/Qt6LabsSharedImage.dll
Program/libs/Qt6LabsWavefrontMesh.dll
Program/libs/Qt6Network.dll
Program/libs/Qt6OpenGL.dll
Program/libs/Qt6OpenGLWidgets.dll
Program/libs/Qt6PrintSupport.dll
Program/libs/Qt6Qml.dll
Program/libs/Qt6QmlCompiler.dll
Program/libs/Qt6QmlCore.dll
Program/libs/Qt6QmlLocalStorage.dll
Program/libs/Qt6QmlModels.dll
Program/libs/Qt6QmlWorkerScript.dll
Program/libs/Qt6QmlXmlListModel.dll
Program/libs/Qt6Quick.dll
Program/libs/Qt6QuickControls2.dll
Program/libs/Qt6QuickControls2Impl.dll
Program/libs/Qt6QuickDialogs2.dll
Program/libs/Qt6QuickDialogs2QuickImpl.dll
Program/libs/Qt6QuickDialogs2Utils.dll
Program/libs/Qt6QuickEffects.dll
Program/libs/Qt6QuickLayouts.dll
Program/libs/Qt6QuickParticles.dll
Program/libs/Qt6QuickShapes.dll
Program/libs/Qt6QuickTemplates2.dll
Program/libs/Qt6QuickTest.dll
Program/libs/Qt6QuickWidgets.dll
Program/libs/Qt6Sql.dll
Program/libs/Qt6Svg.dll
Program/libs/Qt6SvgWidgets.dll
Program/libs/Qt6Test.dll
Program/libs/Qt6UiTools.dll
Program/libs/Qt6Widgets.dll
Program/libs/Qt6Xml.dll
Program/DirLookup.h
Program/gui.cpp
Program/libs/d3dcompiler_47.dll
Program/libs/libgcc_s_seh-1.dll
Program/libs/libstdc++-6.dll
Program/libs/libwinpthread-1.dll
Program/libs/opengl32sw.dll
Program/libs/Qt6Concurrent.dll
Program/libs/Qt6Core.dll
Program/libs/Qt6DBus.dll
Program/libs/Qt6Designer.dll
Program/libs/Qt6DesignerComponents.dll
Program/libs/Qt6Gui.dll
Program/libs/Qt6Help.dll
Program/libs/Qt6LabsAnimation.dll
Program/libs/Qt6LabsFolderListModel.dll
Program/libs/Qt6LabsQmlModels.dll
Program/libs/Qt6LabsSettings.dll
Program/libs/Qt6LabsSharedImage.dll
Program/libs/Qt6LabsWavefrontMesh.dll
Program/libs/Qt6Network.dll
Program/libs/Qt6OpenGL.dll
Program/libs/Qt6OpenGLWidgets.dll
Program/libs/Qt6PrintSupport.dll
Program/libs/Qt6Qml.dll
Program/libs/Qt6QmlCompiler.dll
Program/libs/Qt6QmlCore.dll
Program/libs/Qt6QmlLocalStorage.dll
Program/libs/Qt6QmlModels.dll
Program/libs/Qt6QmlWorkerScript.dll
Program/libs/Qt6QmlXmlListModel.dll
Program/libs/Qt6Quick.dll
Program/libs/Qt6QuickControls2.dll
Program/libs/Qt6QuickControls2Impl.dll
Program/libs/Qt6QuickDialogs2.dll
Program/libs/Qt6QuickDialogs2QuickImpl.dll
Program/libs/Qt6QuickDialogs2Utils.dll
Program/libs/Qt6QuickEffects.dll
Program/libs/Qt6QuickLayouts.dll
Program/libs/Qt6QuickParticles.dll
Program/libs/Qt6QuickShapes.dll
Program/libs/Qt6QuickTemplates2.dll
Program/libs/Qt6QuickTest.dll
Program/libs/Qt6QuickWidgets.dll
Program/libs/Qt6Sql.dll
Program/libs/Qt6Svg.dll
Program/libs/Qt6SvgWidgets.dll
Program/libs/Qt6Test.dll
Program/libs/Qt6UiTools.dll
Program/libs/Qt6Widgets.dll
Program/libs/Qt6Xml.dll
